* {margin:0;
   padding: 0;
   box-sizing: :border-box;
}

body{
    font-family: sans-serif;
}

header{
    padding: 8px 24px;
    background-color: #110;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 24px;
}

header img{
    width: 180px;
}

header ul{
    list-style: none;

    display: flex; 
}

header ul li + li{
    margin-left: 24px;
}

header a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

header a:hover{
    color:red;
}

.hero{
    background-image: url(../Hero/images/banner.jpg);
    background-size: cover;
    background-position: center 25%;
    
    height: 320px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero h1{
    color: white;
    font-size: 36px;
}

.dots{
    margin-top: 24px;
    display: flex;
}

.dots span{
    display: block;
    background-color: white;
    
    width: 12px;
    height: 12px;
    border-radius: 50%;

    cursor: pointer;
}

.dots span + span{
    margin-left: 10px;
}

.dots .active{
    background-color: red;
}

.gallery{
    max-width: 1200px;
    margin: 64px auto 0 ;
    padding: 0 24px
}

.gallery h2{
    margin-bottom: 32px;
    padding-left: 8px;
    border-left: 4px solid red;
}

.gallery-row{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-row div{
    /*flex - grow/ flex - shrink / flex - basis*/
    flex: 1 1 250px;
}

.gallery-row img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.gallery p{
    font-weight: bold;
}

.history{
    margin: 64px 0 0;
    padding:  92px 24px 0;
    background-color: #110;
    color: white;

    border-top: 4px solid red;
}

.history .container{
    max-width: 1200px;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    border-bottom: 1px solid red;
}

.history .container h2{
    margin-bottom: 32px;
    padding-left: 8px;
    border-left: 4px solid red;   
}

.history .container .column{
    flex: 1 1 350px;
}

.history .container .column img{
    width: 100%;
}

.history p{
    line-height: 1.5;
}

.history p + p{
    
}

.history a{
    color:red;
    transition: color 0.3s;
    text-decoration: none;
    
}

.history a:hover{
    color:  white;
}

footer{
    padding: 64px 24px;
    background-color: #110;
    color: white;
    text-align: center;
}

footer a{
    color: red;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover{
    color:white
}



