*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index{
    background-image: linear-gradient(rgb(0,0,0),rgb(20, 33, 228),rgb(0, 0, 0));
    background-attachment: fixed;
}

.index header{
    background-image: linear-gradient(rgb(255, 145, 0),rgba(255, 255, 255, 0));
    

    color: white;
    text-align: center;    
}

.index header h1{
    font-size: 48px;
}

.index header p{
    font-size: 12px;
    font-family: cursive;
}

.index section div ul{
    list-style: none;

    text-align: center;

    padding-top: 10%;
    padding-bottom: 5%;
}

.index section ul a{
    color: white;
    font-size: 36px;
    text-decoration: none;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.index section ul li+li{
    padding-top: 48px;
}

.index section ul a:focus,
.index section ul a:hover{
    transition: 0.3s;

    color: black;
    font-size: 38px;
    
    border: 5px solid white;
    border-radius: 10px;
    border-width: 1px;

    padding: 10px;

    background-color: rgb(255, 145, 0);
}

.index footer{
    background-image: linear-gradient(rgba(60, 6, 255, 0),rgb(255, 145, 0));
    text-align: center;
    
    padding-top: 5%;
    padding-bottom: 2%;

    font-size: 20px; 
    
    position: absolute;
    bottom: 0;  
    width: 100%;
}

.index footer p,a{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.index footer a:focus,
.index footer a:hover{
    color: black;
    transition: 0.5s;
}

.about{
    color: white;
    padding: 80px;
}

.about h1{
    border-left: 5px solid orange;
    padding-left: 8px;

    font-size: 48px;
}

.about p{
    font-size: 20px;
    padding-left: 12px;
    padding-top: 24px;
    text-align: justify;
    
    max-width: 600px;
    min-width: 600px;
}

.about a{
    text-decoration: none;
    font-size: 40px;

    position: relative;
    top: 180px;
}

.about a:focus,
.about a:hover{
    color: black;
    font-size: 38px;
    
    border: 5px solid white;
    border-radius: 10px;
    border-width: 1px;

    padding: 10px;

    background-color: white;   
}

.about-image img{
    position: absolute;
    right: 24px;
    
    width: 340px;
}






    








